{% extends 'base.html.twig' %}

{% block meta_title %}
	{% trans %}page-title.security.register{% endtrans %}
{% endblock %}
{% block title %}
	{% trans %}page-title.security.register{% endtrans %}
{% endblock %}

{% block body %}
	<p><strong>Publiczna rejestracja jest wyłączona.</strong></p>

	<p>Udostępniamy konto demo (zrealizowane jako super prosty event subscriber blokujący trwałe zmiany), które daje ogólny wgląd w funkcje serwisu.</p>

	<p><strong>Brakuje na nim choćby walidacji nowego wyszukiwania czy wyświetlania niektórych flash messages - bo i tak nic nie jest zapisywane i właściwy kod się nie wykonuje.</strong></p>

	<p>Użytkownik: <strong>demo</strong><br>
	Hasło: <strong>demo</strong></p>
{% endblock %}