@media (min-width: 992px){
	.nav-link {
		margin-right: 1em;
		margin-left: 1em;
	}
}

/*body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}*/

.navbar {
	margin-bottom: 35px;
}

.btn-success:disabled {
	background: #AAA !important;
	border-color: #888;
}