{% extends 'base.html.twig' %}

{% block meta_title %}Nowe wyszukiwanie{% endblock %}
{% block title %}
	Nowe wyszukiwanie: 
	<input class="change-search-name-input" type="text" value="" style="display: none;" />
	<span class="change-search-name">
		<span class="search-name">bez nazwy</span>
		<a href="#"><i class="far fa-edit small-icon"></i></a>
	</span>
{% endblock %}

{% block body %}
	<div class="card bg-light" id="filters-card">
		<div class="card-body">
			<h3>
				<strong>Filtry </strong>
				<button type="button" class="btn btn-outline-info show-filter-picker">
					    	<i class="fas fa-plus"></i> Dodaj filtr
				</button>
			</h3>


			    <div id="filters">

   				</div>
		</div>
	</div>

	<div>

	    <button type="button" class="btn btn-info btn-lg save-new-search">
	    	<i class="fas fa-save"></i> Zatwierdź wyszukiwanie
	    </button>
	</div>




{% include 'search/modal/modal.html.twig' %}



{% endblock %}

{% block javascripts %}
	{% include 'search/handlebars_includes.html.twig' %}
	<script src="/js/handlebars-v4.0.11.js"></script>
	<script src="/js/search_add_edit/includes/display-service.js"></script>
	<script src="/js/search_add_edit/includes/filter-service.js"></script>
	<script src="/js/search_add_edit/includes/search-service.js"></script>
	<script src="/js/search_add_edit/includes/filter-collection.js"></script>
	<script src="/js/search_add_edit/includes/templates.js"></script>
	<script src="/js/search_add_edit/functions.js"></script>
	<script src="/js/search_add_edit/search-new.js"></script>
	
	<script src="/js/external/validator.min.js"></script>
{% endblock %}