{% extends 'base.html.twig' %}

{% block title %}Edycja wyszukiwania{% endblock %}

{% block body %}

    <h1>Edycja wyszukiwania</h1>
    <p>test</p>
    <h2>Nowy filtr:
	    <select id="filters-container"></select>
	    <button type="button" class="btn btn-outline-success new-filter">
	    	Dodaj
	    </button>
    </h2>

    <div id="filters">

    </div>


    <br><br><br>
    <button type="button" class="btn btn-success btn-lg save-edited-search">
    	Zapisz wyszukiwanie
    </button>

    <button type="button" class="btn btn-success btn-lg save-new-search">
    	Zapisz wyszukiwanie jako nowe
    </button>



    <input type="hidden" name="searchId" value="{{ searchId }}" />




{% include 'search/modal/modal.html.twig' %}



{% endblock %}

{% block javascripts %}
	
	{% include 'search/handlebars_includes.html.twig' %}
	<script src="/js/handlebars-v4.0.11.js"></script>
	<script src="/js/search/display-service.js"></script>
	<script src="/js/search/filter-service.js"></script>
	<script src="/js/search/search-service.js"></script>
	<script src="/js/search/filter-collection.js"></script>
	<script src="/js/search/templates.js"></script>
	<script src="/js/search-core.js"></script>
	<script src="/js/search-edit.js"></script>
	
{% endblock %}