{% extends 'base.html.twig' %}

{% block meta_title %}
	{% trans %}page-title.search.edit{% endtrans %}
{% endblock %}
{% block title %}
    	{% trans %}page-title.search.edit{% endtrans %}:
   		<input class="change-search-name-input" type="text" value="" style="display: none;" />
   		<span class="change-search-name">
   			<span class="search-name">{{ searchName }}</span>
   			<a href="#"><i class="far fa-edit small-icon"></i></a>
   		</span>
{% endblock %}

{% block body %}
	<div class="card bg-light" id="filters-card">
		<div class="card-body">
			<h3>
				<strong>{% trans %}label.filters{% endtrans %} </strong>
				<button type="button" class="btn btn-outline-info show-filter-picker">
					    	<i class="fas fa-plus"></i> {% trans %}label.add-filter{% endtrans %}
				</button>
			</h3>


			    <div id="filters">

   				</div>
		</div>
	</div>

	<div>
	    <button type="button" class="btn btn-info btn-lg save-edited-search">
	    	<i class="fas fa-save"></i> {% trans %}label.save-search{% endtrans %}
	    </button>

	    <button type="button" class="btn btn-info btn-lg save-new-search">
	    	<i class="fas fa-certificate"></i> {% trans %}label.save-search-as-new{% endtrans %}
	    </button>

	    <a class="btn btn-info btn-lg" href="{{ path("search_list") }}">
	    	<i class="fas fa-ban"></i> {% trans %}label.cancel{% endtrans %}
	    </a>
	</div>


    <input type="hidden" name="searchId" value="{{ searchId }}" />




{% include 'search/modal/modal.html.twig' %}



{% endblock %}

{% block javascripts %}
	{% include 'search/handlebars_includes.html.twig' %}
	<script src="/js/_external-dependencies/handlebars-v4.0.11.js"></script>
	<script src="/js/_external-dependencies/validator.min.js"></script>
	<script src="/js/_external-dependencies/jquery.ba-throttle-debounce.min.js"></script>
	

	<script src="/js/_dependencies/other/templates-container.js"></script>
	<script src="/js/_dependencies/other/filter-collection.js"></script>
	<script src="/js/_dependencies/display-services/search-display-service.js"></script>
	<script src="/js/_dependencies/services/filter-service.js"></script>
	<script src="/js/_dependencies/services/search-service.js"></script>
	
	<script src="/js/search-add-edit/_dependencies.js"></script>
	<script src="/js/search-add-edit/_functions.js"></script>
	<script src="/js/search-add-edit/_initial.js"></script>

	
	
{% endblock %}