{% extends 'base.html.twig' %}

{% block title %}Lista wyszukiwań{% endblock %}

{% block body %}

    <h1>Lista wyszukiwań</h1>
    
    <ul>
    	
		{% for search in user.searches %}

			<li>
			{{ search.name }} - 
			<a class="btn" href="{{ path("search_edit", {id: search.id}) }}">Edytuj</a>
			<button type="button" data-search-id="{{ search.id }}" class="btn btn-danger remove-search">Usuń</button>
			</li>

		{% endfor %}
    </ul>


{% endblock %}

{% block javascripts %}
	<script src="/js/search-list.js"></script>
{% endblock %}