{% extends 'base.html.twig' %}

{% block title %}Nowe wyszukiwanie{% endblock %}

{% block body %}

    <h1>Nowe wyszukiwanie</h1>
    <p>test</p>
    <h2>Nowy filtr:
	    <select id="filters-container"></select>
	    <button type="button" class="btn btn-outline-success new-filter">
	    	Dodaj
	    </button>
    </h2>

    <div id="filters">

    </div>


    <br><br><br>
    <button type="button" class="btn btn-success btn-lg save-new-search">
    	Dodaj wyszukiwanie
    </button>








{% include 'search/modal/modal.html.twig' %}



{% endblock %}

{% block javascripts %}
	{% include 'search/handlebars_includes.html.twig' %}
	<script src="/js/handlebars-v4.0.11.js"></script>
	<script src="/js/search_add_edit/includes/display-service.js"></script>
	<script src="/js/search_add_edit/includes/filter-service.js"></script>
	<script src="/js/search_add_edit/includes/search-service.js"></script>
	<script src="/js/search_add_edit/includes/filter-collection.js"></script>
	<script src="/js/search_add_edit/includes/templates.js"></script>
	<script src="/js/search_add_edit/functions.js"></script>
	<script src="/js/search_add_edit/search-new.js"></script>
	
	<script src="/js/external/validator.min.js"></script>
{% endblock %}